.App {
  text-align: center;
  background-color: black;
  color:white
}
.todo-card-body-wrapper{
  display: flex;
  position: relative;
}
.todo-list-card-body-content-wrapper{
  display:flex;
  justify-content:space-between;
}
.todo-list-all-clear-button{
  align-items: center;
  position: relative;
  left:45%;
  margin:10px
}
